* {
  margin: 0; }

.top-overview-wrap {
  width: 100%;
  height: 95vh; }
@media only screen and (max-width: 480px) {
  .top-overview-wrap {
    height: 85vh; } }

.head-menu-wrap {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
  border-bottom: 1px solid azure; }

.head-menu {
  margin-left: 10%;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 13.7%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
@media only screen and (max-width: 480px) {
  .logo {
    width: 20%; } }

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: #035755;
  text-transform: uppercase;
  cursor: pointer; }

.menu-buttons {
  width: 640px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center; }

.info-btns-wrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  position: relative; }

.active-button::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: calc(100% + 10px); }

.info-buttons {
  width: 23%;
  color: #035755;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: none; }

.contact-button {
  margin-left: 5.5%;
  width: 24%;
  height: 55px;
  border: 2px solid #FB4C47;
  border-radius: 46px;
  font-size: 18px;
  color: #FF383D;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: none; }

.main-info-wrap {
  width: 60%;
  height: 450px;
  margin-left: 10%;
  margin-top: 200px; }
@media only screen and (max-width: 480px) {
  .main-info-wrap {
    width: 100%;
    height: 80vh;
    margin-left: 100px; } }

.top-text {
  font-family: 'Montserrat',sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #FA5652; }
@media only screen and (max-width: 480px) {
  .top-text {
    width: 70%; } }

.main-text {
  margin-top: 14px;
  font-family: 'Montserrat',sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #035755;
  line-height: 67px; }

.bottom-text {
  margin-top: 30px;
  color: #4B4F51;
  font-family: 'Montserrat',sans-serif;
  font-size: 22px;
  line-height: 38px; }

.help-button {
  margin-top: 40px;
  width: 250px;
  height: 80px;
  border-radius: 65px;
  background: #FB4C47;
  border: none;
  font-family: 'Montserrat',sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  cursor: pointer; }

.illustration {
  position: absolute;
  right: 0;
  top: 150px;
  width: 910px;
  display: block; }
@media only screen and (max-width: 480px) {
  .illustration {
    display: none; } }

.bottom-overview-wrap {
  width: 100%;
  height: 73vh;
  display: flex; }
@media only screen and (max-width: 480px) {
  .bottom-overview-wrap {
    width: 100%;
    height: 80vh; } }

.virus-look-illustration {
  position: absolute;
  left: 0;
  top: 780px;
  transform: none; }
@media only screen and (max-width: 480px) {
  .virus-look-illustration {
    width: 400px;
    top: 1000px;
    left: 500px; } }

.text-info-wrap {
  width: 44%;
  height: 500px;
  margin-left: 56%;
  margin-top: 130px; }
@media only screen and (max-width: 480px) {
  .text-info-wrap {
    width: 100%;
    margin-left: 100px;
    margin-top: 0; } }

.learn-button {
  margin-top: 40px;
  width: 250px;
  height: 80px;
  border-radius: 65px;
  background: rgba(250, 86, 82, 0.15);
  border: none;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  color: #FB4C47;
  font-weight: bold;
  cursor: pointer; }

.big-virus-spot {
  position: absolute;
  top: 1320px;
  right: 0; }
@media only screen and (max-width: 480px) {
  .big-virus-spot {
    display: none; } }

.small-virus-spot {
  position: absolute;
  top: 1700px;
  right: 20px;
  transform: none; }
@media only screen and (max-width: 480px) {
  .small-virus-spot {
    display: none; } }

.contagion-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.central-info-block {
  width: 630px;
  height: 210px;
  text-align: center;
  margin-top: 60px; }
@media only screen and (max-width: 480px) {
  .central-info-block {
    width: 100%;
    height: 210px;
    margin-left: 550px; } }

.chapter-name {
  font-family: 'Montserrat',sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: #FA5652; }

.chapter-heading {
  margin-top: 15px;
  font-family: 'Montserrat',sans-serif;
  font-size: 43px;
  font-weight: bold;
  color: #035755; }

.chapter-info {
  margin-top: 27px;
  color: #4B4F51;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  line-height: 35px; }

.cards-wrap {
  width: 82%;
  height: 581px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  z-index: 1; }
@media only screen and (max-width: 480px) {
  .cards-wrap {
    width: 220%;
    margin-left: 600px; } }

.card {
  width: 460px;
  height: 575px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 35px 87px rgba(0, 0, 0, 0.11); }
  .card:hover {
    border-bottom: 6px solid #FA5652;
    transition: 0.2s; }
@media only screen and (max-width: 480px) {
  .card {
    width: 30%; } }

.hands-pic {
  margin-top: 20px; }

.objects-pic {
  margin-top: 60px; }

.girl-pic {
  margin-top: 60px; }

.card-head {
  margin-top: 50px;
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #035755; }
@media only screen and (max-width: 480px) {
  .card-head {
    margin-left: 50px;
    font-size: 35px; } }

.card-text {
  margin-top: 15px;
  color: #4B4F51;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center; }
@media only screen and (max-width: 480px) {
  .card-text {
    font-size: 18px; } }

.virus-pic {
  position: absolute;
  left: 40px;
  top: 2450px;
  z-index: 0; }
@media only screen and (max-width: 480px) {
  .virus-pic {
    display: none; } }

.symptoms-wrap {
  padding-top: 130px;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 200px;
  text-align: center; }
@media only screen and (max-width: 480px) {
  .info-wrap {
    width: 100%;
    margin-left: 550px; } }

.symptoms-pic {
  position: absolute;
  top: 3100px; }
@media only screen and (max-width: 480px) {
  .symptoms-pic {
    width: 850px;
    top: 3000px;
    left: 100px; } }

.symptoms-left-spot {
  position: absolute;
  top: 3630px;
  left: 25px; }
@media only screen and (max-width: 480px) {
  .symptoms-left-spot {
    display: none; } }

.symptoms-right-spot {
  position: absolute;
  top: 3800px;
  right: 20px; }
@media only screen and (max-width: 480px) {
  .symptoms-right-spot {
    display: none; } }

.prevention-wrap {
  position: relative;
  padding-top: 150px;
  width: 100%;
  height: 438.2vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.plate {
  position: relative;
  width: 80%;
  height: 600px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
@media only screen and (max-width: 480px) {
  .plate {
    width: 190%;
    display: flex;
    justify-content: center;
    margin-left: 400px; } }

@media only screen and (max-width: 480px) {
  .illustration-img {
    display: none; } }

.plate-info {
  width: 53.5%;
  padding-left: 15%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.plate-info-four {
  padding-left: 9%; }

.number-of-plate {
  position: absolute;
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  width: 75px;
  height: 75px;
  color: #FA5652;
  background: #f3aead;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 35px; }

.plate-one {
  top: 185px;
  left: 120px; }

.plate-two {
  top: 167px;
  left: 680px; }

.plate-three {
  top: 185px;
  left: 120px; }

.plate-four {
  top: 185px;
  left: 680px; }

.green-virus-spot {
  position: absolute;
  top: 750px;
  left: 0; }
@media only screen and (max-width: 480px) {
  .green-virus-spot {
    display: none; } }

.green-virus-mini {
  position: absolute;
  top: 2200px;
  right: 50px; }
@media only screen and (max-width: 480px) {
  .green-virus-mini {
    display: none; } }

.pink-virus-spot {
  position: absolute;
  top: 2350px;
  right: 0; }
@media only screen and (max-width: 480px) {
  .pink-virus-spot {
    display: none; } }

.live-reports-wrap {
  margin-top: 160px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  position: relative; }

.left-side-wrap {
  width: 53%;
  height: 700px;
  position: relative; }
@media only screen and (max-width: 480px) {
  .left-side-wrap {
    width: 40%;
    left: -50px; } }

.right-side-wrap {
  width: 27%;
  height: 700px; }
@media only screen and (max-width: 480px) {
  .right-side-wrap {
    display: none; } }

.map-img {
  top: 50px;
  position: absolute;
  z-index: 1; }
@media only screen and (max-width: 480px) {
  .map-img {
    width: 500%; } }

.map-tools {
  position: absolute;
  width: 85px;
  height: 225px;
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(104, 33, 28, 0.1);
  border-radius: 5px;
  z-index: 2;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sign {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  margin-top: 8px; }

.underline {
  width: 13px;
  height: 1px;
  background: #A2A5B2;
  margin-top: 8px; }

.compass-wrap {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  cursor: pointer; }

.loop-button {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 4px;
  background: white;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 50px rgba(104, 33, 28, 0.1); }

.reports-plate-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
  box-shadow: 0 7px 95px rgba(0, 0, 0, 0.07);
  border-radius: 1px; }

.heading-wrap {
  width: 82%;
  height: 60px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.heading-of-plate {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 43px;
  color: #035755; }

.change-buttons {
  width: 85px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(87, 1, 0, 0.1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center; }

.arrow {
  width: 15px;
  cursor: pointer; }

.separate-arrows {
  width: 2px;
  height: 23px;
  margin-left: 15px;
  margin-right: 15px;
  background: #DEE1ED; }

.countries-list {
  width: 82%;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.country {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.left-side-list-wrap {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center; }

.flag {
  width: 54px; }

.country-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #13615F;
  margin-left: 20px; }

.right-side-list-wrap {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.sick-per-day {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #13615F;
  margin-left: 20px; }

.arrow-up-down {
  width: 22px;
  margin-left: 20px; }

.bottom-wrap {
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
@media only screen and (max-width: 480px) {
  .bottom-wrap {
    width: 250%;
    height: 85vh;
    left: 300px; } }

.bottom-info {
  position: relative;
  width: 40%;
  height: 300px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.bottom-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  color: #0C6C44;
  text-align: center; }
@media only screen and (max-width: 480px) {
  .bottom-heading {
    width: 150%;
    height: 150px; } }

.bottom-search {
  width: 85%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 57px;
  border: none;
  margin-top: 50px;
  padding-left: 40px;
  font-size: 22px;
  color: #758681; }
@media only screen and (max-width: 480px) {
  .bottom-search {
    width: 125%;
    height: 100px; } }

.send-button {
  width: 180px;
  height: 60px;
  top: 188px;
  right: 48px;
  background: #F44A45;
  border-radius: 157px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  cursor: pointer; }
@media only screen and (max-width: 480px) {
  .send-button {
    top: 220px;
    right: -30px; } }

.lil-btm-spot {
  position: absolute;
  right: 150px;
  top: 110px; }
@media only screen and (max-width: 480px) {
  .lil-btm-spot {
    display: none; } }

.big-btm-spot {
  position: absolute;
  right: 0;
  top: 180px; }
@media only screen and (max-width: 480px) {
  .big-btm-spot {
    display: none; } }

.bottom-menu-wrap {
  width: 80%;
  height: 70px;
  margin-top: 100px; }

.bottom-menu {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between; }

.social-networks {
  width: 170px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.bottom-logos {
  cursor: pointer; }

.rights {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  color: #415E56;
  font-size: 19px; }

@media only screen and (max-width: 480px) {
  .logo2 {
    width: 20%; } }

/*# sourceMappingURL=main.css.map */
